<body>
    <section id="h-website-home">

        <header class="h-header-outer">
            <div class="h-header-inner">
                <div class="h-header-logo">
                    <img src="assets/logomark-black.svg" alt="">
                </div>

                <div class="h-header-button">
                    <a id="get-started-menu" href="">Get started</a>
                </div>
            </div>
        </header>

        <dialog id="sign-up-modal" class="modal">
            <div class="modal-container">

                <div id="sign-up-close">
                    <img class="icon-close" src="assets/x-close.svg" alt="">
                </div>

                <div class="get-started-content">
                    <h4 class="get-started-text">Join Medium.</h4>

                    <div class="sign-up-options">
                        <button class="sign-up-method h3"><img src="assets/google.svg" alt="">Sign up with
                            Google</button>
                        <button class="sign-up-method h3"><img src="assets/facebook.svg" alt="">Sign up with
                            Facebook</button>
                        <button class="sign-up-method h3"><img src="assets/gmail.svg" alt="">Sign up with Email</button>
                    </div>

                    <h3 class="h3">Already have an account? <span id="sign-in-button">Sign in</span></h3>
                    <h4 class="h4">Click "Sign up" to agree to Medium's <span>Terms of Service</span> and acknowledge
                        that Medium's
                        <span>Privacy Policy</span> applies to you.
                    </h4>
                </div>
            </div>
        </dialog>

        <dialog id="sign-in-modal" class="modal">
            <div class="modal-container">

                <div id="sign-in-close">
                    <img class="icon-close" src="assets/x-close.svg" alt="">
                </div>

                <div class="get-started-content">
                    <h4 class="get-started-text">Welcome Back.</h4>

                    <div class="sign-in-options">
                        <a href="/home" class="sign-up-method h3"><img src="assets/google.svg" alt="">Sign in with
                            Google</a>
                        <a href="/article" class="sign-up-method h3"><img src="assets/facebook.svg" alt="">Sign in with
                            Facebook</a>
                        <a class="sign-up-method h3"><img src="assets/apple.svg" alt="">Sign in with Apple</a>
                        <a class="sign-up-method h3"><img src="assets/x.svg" alt="">Sign in with Twitter</a>
                        <a class="sign-up-method h3"><img src="assets/gmail.svg" alt="">Sign in with email</a>
                    </div>

                    <h3 class="h3">No account? <span id="sign-up-button">Create one</span></h3>
                    <h4 class="h4 sign-in-h4 middle-h4">Forgot email or trouble signing in? <span>Get help</span></h4>
                    <h4 class="h4 sign-in-h4">Click "Sign up" to agree to Medium's <span>Terms of Service</span> and
                        acknowledge that Medium's
                        <span>Privacy Policy</span> applies to you.
                    </h4>
                </div>
            </div>
        </dialog>

        <div class="h-content-text">
            <div class="h-content-container">
                <div class="h-content">
                    <h1 class="home-heading">Stay curious</h1>
                    <h2 class="h1">Discover stories, thinking, and
                        expertise from writers on any
                        topic.</h2>
                </div>

                <div class="h-button">
                    <a href="">Start reading</a>
                </div>
            </div>
        </div>

        <img class="hero-pattern" src="assets/home-pattern.svg" alt="">

    </section>

    <main id="h-main-home">

        <div class="h-trending-article-list">

            <div class="h-trending-title">
                <img src="assets/analytics.svg" alt="analytics">
                <h3 class="h3">Trending on Medium</h3>
            </div>

            <div class="h-single-trending-article-list">

                <!-- article 1 -->
                <div class="h-trending-article-container">

                    <div class="h-trending-indicator">
                        <h1>01</h1>
                    </div>

                    <div class="h-trending-container">
                        <div class="h-trending-image">
                            <div class="h-article-image">
                                <img src="assets/akram-huseyn-fKC9eWRnlGY-unsplash.jpg" alt="">
                            </div>
                            <h4 class="h4">Bas Wallet<span>in</span>UX Collective</h4>
                        </div>

                        <div class="h-trending-text">
                            <h3 class="h3 bold">The deeper meaning behind Japan’s
                                unique UX design culture</h3>
                            <h4 class="h4">Dec 29<span>·</span>15 min read</h4>
                        </div>
                    </div>
                </div>

                <!-- article 2 -->
                <div class="h-trending-article-container">

                    <div class="h-trending-indicator">
                        <h1>02</h1>
                    </div>

                    <div class="h-trending-container">
                        <div class="h-trending-image">
                            <div class="h-article-image">
                                <img src="assets/Mark-Humphries.png" alt="">
                            </div>
                            <h4 class="h4">Mark Humphries<img src="assets/book.svg" alt=""><span>in</span>The
                                Spike</h4>
                        </div>

                        <div class="h-trending-text">
                            <h3 class="h3 bold">2023: A Review of the Year in Neuroscience</h3>
                            <h4 class="h4">Dec 29<span>·</span>22 min read</h4>
                        </div>
                    </div>
                </div>

                <!-- article 3 -->
                <div class="h-trending-article-container">

                    <div class="h-trending-indicator">
                        <h1>03</h1>
                    </div>

                    <div class="h-trending-container">
                        <div class="h-trending-image">
                            <div class="h-article-image">
                                <img src="assets/Mark-Humphries.png" alt="">
                            </div>
                            <h4 class="h4">Sheila Teo<span>in</span>UX Collective</h4>
                        </div>

                        <div class="h-trending-text">
                            <h3 class="h3 bold">How I Won Singapore’s GPT-4 Prompt Engineering
                                Competition</h3>
                            <h4 class="h4">Dec 29<span>·</span>22 min read<span><img src="assets/star.svg"
                                        alt=""></span>
                            </h4>
                        </div>
                    </div>
                </div>

                <!-- article 4 -->
                <div class="h-trending-article-container">

                    <div class="h-trending-indicator">
                        <h1>04</h1>
                    </div>

                    <div class="h-trending-container">
                        <div class="h-trending-image">
                            <div class="h-article-image">
                                <img src="assets/akram-huseyn-fKC9eWRnlGY-unsplash.jpg" alt="">
                            </div>
                            <h4 class="h4">Bas Wallet<span>in</span>UX Collective</h4>
                        </div>

                        <div class="h-trending-text">
                            <h3 class="h3 bold">3 Toxic Communication Styles That End
                                Relationships</h3>
                            <h4 class="h4">Dec 27<span>·</span>7 min read<span><img src="assets/star.svg" alt=""></span>
                            </h4>
                        </div>
                    </div>
                </div>

                <!-- article 5 -->
                <div class="h-trending-article-container">

                    <div class="h-trending-indicator">
                        <h1>05</h1>
                    </div>

                    <div class="h-trending-container">
                        <div class="h-trending-image">
                            <div class="h-article-image">
                                <img src="assets/akram-huseyn-fKC9eWRnlGY-unsplash.jpg" alt="">
                            </div>
                            <h4 class="h4">Bas Wallet<span>in</span>UX Collective</h4>
                        </div>

                        <div class="h-trending-text">
                            <h3 class="h3 bold">How it Dehumanizes People When Officers
                                Question Their Romantic Union</h3>
                            <h4 class="h4">Dec 30<span>·</span>7 min read<span><img src="assets/star.svg" alt=""></span>
                            </h4>
                        </div>
                    </div>
                </div>

                <!-- article 6 -->
                <div class="h-trending-article-container">

                    <div class="h-trending-indicator">
                        <h1>06</h1>
                    </div>

                    <div class="h-trending-container">
                        <div class="h-trending-image">
                            <div class="h-article-image">
                                <img src="assets/akram-huseyn-fKC9eWRnlGY-unsplash.jpg" alt="">
                            </div>
                            <h4 class="h4">Bas Wallet<span>in</span>UX Collective</h4>
                        </div>

                        <div class="h-trending-text">
                            <h3 class="h3 bold">Are Humans Beings Pre-Disposed
                                to Believe in God?</h3>
                            <h4 class="h4">Dec 29<span>·</span>6 min read<span><img src="assets/star.svg" alt=""></span>
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="h-other-article">

            <div class="h-other-article-outer-container">

                <!-- this is the discover -->
                <div class="h-discover-topics">

                    <div class="h-discover-topics-container">
                        <h3 class="h3 regular">Discover more of what matters to you</h3>

                        <div class="list-container">
                            <ul class="h-discover-lists">
                                <li class="h4">Programming</li>
                                <li class="h4">Data Science</li>
                                <li class="h4">Technology</li>
                                <li class="h4">Self Improvement</li>
                                <li class="h4">Writing</li>
                                <li class="h4">Relationships</li>
                                <li class="h4">Machine Learning</li>
                                <li class="h4">Productivity</li>
                                <li class="h4">Politics</li>
                            </ul>

                            <a class="h4 link" href="">See more topics</a>
                        </div>

                        <div class="misc-section">
                            <ul class="misc-list">
                                <li class="h4">Help</li>
                                <li class="h4">Status</li>
                                <li class="h4">About</li>
                                <li class="h4">Careers</li>
                                <li class="h4">Blog</li>
                                <li class="h4">Privacy</li>
                                <li class="h4">Terms</li>
                                <li class="h4">Text to speech</li>
                                <li class="h4">Teams</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="h-more-article-list">

                    <% data.forEach(post=> { %>

                        <!-- Article 1 -->
                        <a class="h-more-article-container" href="/article/<%=post._id%>">

                            <div class="h-more-outer-container">
                                <div class="h-more-container">
                                    <div class="h-more-thumbnail">
                                        <div class="h-more-article-image">
                                            <img src="assets/akram-huseyn-fKC9eWRnlGY-unsplash.jpg" alt="">
                                        </div>
                                        <div class="h-more-name">
                                            <h4 class="h4">
                                                <%=post.name%>
                                            </h4>
                                            <img src="assets/book.svg" alt="">
                                            <h4 class="h4 regular"><span class="location">in</span>
                                                <%=post.location%>
                                            </h4>
                                        </div>
                                    </div>

                                    <div class="h-more-text">
                                        <h3 class="h3 bold">
                                            <%=post.title%>
                                        </h3>
                                        <h3 class="h3 body">
                                            <%=post.body%>
                                        </h3>
                                        <div class="h-more-text-container">
                                            <div class="h-more-text-thumbnail">
                                                <h4 class="h4"><%=post.createdAt.toLocaleDateString('en-US', {
                                                        month: 'short' , day: '2-digit' })%><span
                                                            class="dot separator1">·</span>
                                                        <%=post.duration%><span class="dot separator2">·</span></h4>
                                                <div class="h4 category">
                                                    <%=post.category%>
                                                </div>
                                                <img src="assets/star.svg" alt="">
                                            </div>
                                            <img class="bookmarkk" src="assets/bookmark-01.svg" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="h-more-image-outer-container">
                                <div class="h-more-image">
                                    <img id="custom-img" src="assets/akram-huseyn-fKC9eWRnlGY-unsplash.jpg" alt="">
                                </div>
                            </div>
                        </a>

                        <% }) %>

                            <div class="h-load-more-button-container">
                                <div class="h-load-more-button">
                                    <h4 class="h4">Load more stories</h4>
                                </div>
                            </div>
                </div>
            </div>
        </div>
    </main>

    <footer id="h-footer">
        <div class="h-footer-container">
            <div class="medium-white-logo">
                <img src="assets/logomark-white.svg" alt="">
            </div>

            <div class="footer-links">
                <ul class="links-list">
                    <li class="h4">About</li>
                    <li class="h4">Help</li>
                    <li class="h4">Terms</li>
                    <li class="h4">Privacy</li>
                </ul>
            </div>

            <h3 class="h3">Get the Medium app</h3>

            <div class="h-footer-download-links">
                <img src="assets/appstore-download.png" alt="">
                <img src="assets/googleplay-download.png" alt="">
            </div>
        </div>
    </footer>

    <script src="index.js"></script>
</body>

</html>